SECRET_KEY="django-insecure-^&79owe65+u@b*36+x3w%0l11p5ryrg3ms4g34t5yfdh9-qy45572i&%"
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:3030
DEBUG=True
ENABLE_DJANGO_ADMIN_PANEL=True
ENABLE_HTTPS=False
MEDIA_HOST=http://127.0.0.1:8000
API_VERSION='v1'
TIMEZONE=UTC
